@import "../scss/mixins.scss";

@keyframes first {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes second {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

$slideDuration: 1s;

$slideDelay: 2.5s;

$hideDuration: .25s;

$hideDelay: .125s;

$timingFunc: cubic-bezier(0.73, 0.02, 0.21, 0.97);

.landing-hightlighted-container {
    transform: translateY(33.33%);

    @include media-breakpoint-down(xs) {
        transform: translateY(-33.33%);
    }

    .landing-highlighted {
        @include font-gradient;
        white-space: nowrap;
    }    

    &.animated {
        & > .landing-highlighted:nth-of-type(2) {
            animation:  first   $slideDuration  $timingFunc  $slideDelay 1 normal forwards,
                        hide    $hideDuration   $timingFunc  ($slideDelay + $hideDelay) 1 normal forwards;
                        
            @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
                animation: none;
            }
        }
        & > .landing-highlighted:nth-of-type(1) {
            animation: first $slideDuration $timingFunc $slideDelay 1 normal forwards,
                show    $hideDuration   $timingFunc  ($slideDuration - $hideDuration - $hideDelay + $slideDelay) 1 normal both;
                        
            @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
                animation: none;
                visibility: hidden;
            }
        }

        .spacing-div {
            visibility: hidden;
        }
    }
}
