@import "../scss/mixins.scss";

#landing-content-index {
    #landing-text {
        // background-color: rgba(139, 0, 0, 0.5);
        padding-top: 12vh;
        padding-bottom: 25vh;

        h1 {
            font-size: 3.45rem;
        }

        @include media-breakpoint-down(md) {
            h1 {
                font-size: 5vw;
            }
        }
        @include media-breakpoint-down(xs) {
            h1 {
                font-size: 8.1vw;
            }
            margin-left: 1rem;
            padding-top: 12vh;
            padding-bottom: 4vh;
        }
    }

    #separator {
        width: 3rem;
        @include media-breakpoint-down(xs) {
            line-height: 1;
        }
    }

    #landing-subtext {
        @include media-breakpoint-down(xs) {
            width: 100%;
        }
    }

    p.lead {
        font-size: 1.8rem;
        line-height: 1.5;
        @include media-breakpoint-down(md) {
            font-size: 3vw;
        }
        @include media-breakpoint-down(xs) {
            line-height: 1.5;
            font-size: 4.5vw;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}
