$white: #EEF1EF;
$black: #040507;
$enable-rounded: false;
$body-bg: $black;
$body-color: $white;
$font-family-sans-serif: Montserrat;
$headings-font-family: Ubuntu;
$line-height-base: 2;

@import "node_modules/bootstrap/scss/bootstrap";



