// @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap');

$white: #EEF1EF;
$black: #040507;
$card-bg: #002642;

$grad-color-1: #ffc914;
$grad-color-2: #e4572e;

$enable-rounded: false;
$body-bg: $black;
$body-color: $white;
$font-family-sans-serif: 'Montserrat', sans-serif;;
$headings-font-family: 'Ubuntu', sans-serif;
$line-height-base: 2;
$card-border-color: none;
$card-inner-border-radius: 0;
$card-border-radius: 0;
$card-cap-bg: $card-bg;
$link-color: $grad-color-1;
$input-btn-font-family: $headings-font-family;
$btn-font-weight: 700;
$input-btn-border-width: 0;
$input-btn-padding-y: 0;
$input-btn-padding-x: .5rem;
$primary: $grad-color-1;

@import "./bootstrap.scss";